<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - maibagamofisa</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/maibagamofisa.styles.css" asp-append-version="true" />
</head>
<body>
    <!-- Sidepanel -->
    <div id="mySidepanel" class="sidepanel">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="About">About Us</a>
        <a class="nav-link text-dark" asp-area="" asp-controller="VocabularyLessons" asp-action="Index">Vocabulary Lessons</a>
        <a class="nav-link text-dark" asp-area="" asp-controller="VocabularyLessons" asp-action="Game">Games</a>
        <a class="nav-link text-dark" asp-area="" asp-controller="Dialogues" asp-action="Index">Dialogue Lessons</a>    
        <li><a href="@Url.Action("SpeechToText", "Lessons")">German Words Speech Synthesis</a></li>

        
        <partial name="_LoginPartial" />
        <!-- Add more links as needed -->
    </div>

    <!-- Toggle Button -->
    <button class="openbtn" onclick="openNav()">&#9776; Toggle Sidepanel</button>

    <!-- Navigation -->
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button> 
            </div>
        </nav>
    </header>

    <!-- Main Content -->
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
            <img src="~/images/Capture.jpg" alt="Your Image" class="center-top-image" />
        </main>
    </div>

    <!-- Footer -->
    <!--<footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - maibagamofisa - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>-->
    
    <!-- JavaScript -->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)

    <!-- JavaScript for Sidepanel -->
    <script>
        function openNav() {
            document.getElementById("mySidepanel").style.width = "250px";
        }

        function closeNav() {
            document.getElementById("mySidepanel").style.width = "0";
        }
    </script>
</body>
</html>
