@model IEnumerable<maibagamofisa.Models.Lesson>

@{
    ViewData["Title"] = "Lessons";
}

<h1>Lessons</h1>

<ul>
    @foreach (var lesson in Model)
    {
        <li>
            <a asp-action="Details" asp-route-id="@lesson.Id">@lesson.Title</a>
            @if (lesson.IsCompleted)
            {
                <span>(Completed)</span>
            }
        </li>
    }
</ul>
