/* Your existing styles go here */

/* Set the width of the sidebar to 0 (hide it) */
.sidepanel {
    width: 0;
    position: fixed;
    z-index: 1;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #aa80ff;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

    /* The sidebar links */
    .sidepanel a {
        padding: 10px 15px;
        text-decoration: none;
        font-size: 16px;
        color: #818181;
        display: block;
        transition: 0.3s;
    }

        /* When you mouse over the navigation links, change their color */
        .sidepanel a:hover {
            color: #f1f1f1;
        }

    /* Position and style the close button (top right corner) */
    .sidepanel .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
    }

/* Style the button that is used to open the sidepanel */
.openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #aa80ff;
    color: white;
    padding: 10px 15px;
    border: none;
}

    .openbtn:hover {
        background-color: #444;
    }

.center-top-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px; /* Adjust as needed */
    width: 350px; /* Set the width to your desired size */
    height: auto; /* Maintain the aspect ratio */
}




.chapter-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.chapter-box {
    border: 1px solid #ccc;
    border-radius: 10px;
    width: 300px;
    margin: 20px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative;
}

    .chapter-box img {
        width: 100%;
        height: auto;
        border-radius: 10px;
    }

.chapter-title {
    margin-top: 10px;
    font-size: 1.2em;
    font-weight: bold;
}

.chapter-subtitle {
    font-size: 1em;
    color: #555;
}

.chapter-actions {
    margin-top: 10px;
}

.chapter-actions a {
        margin: 0 5px;
        text-decoration: none;
        color: white;
}

        .chapter-actions a.details {
            background-color: #007bff;
            padding: 5px 10px;
            border-radius: 5px;
        }

        .chapter-actions a.delete {
            background-color: #dc3545;
            padding: 5px 10px;
            border-radius: 5px;
        }



